# folders
/build/
node_modules/
/assets/fonts/
/assets/textures/
/assets/sounds/
web/release/
web/obj/
web/assets/
Plutus/libs/openal-soft/
OpenAL32.dll
out/**
.vs

#files
*.o
*.lock
imgui.ini
pe-config.json
config.json
